body, html {
  height: 100%;
  margin: 0;
  font-family: 'Tahoma', sans-serif;
  background-color: #fff; /* White background for better readability */
  color: #000; /* Black text color for contrast */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; /* Ensure container takes full width */
  padding: 20px;
  margin-top: -300px; 
  box-sizing: border-box;
}

h1 {
  margin: 0;
  color: #4169E1;
  font-size: 36px; /* Large font size for desktop */
  text-align: center; /* Center align the header */
}

p {
  color: #000;
  font-size: 18px; /* Standard text size */
  text-align: center;
  max-width: 80%; /* Limits width of paragraph for better readability */
  margin: 10px auto; /* Centered margin with space above and below */
  word-wrap: break-word; /* Ensures words do not overflow the container */
}

nav a {
  color: #4169E1;
  text-decoration: none;
  margin: 10px;
  font-size: 24px; /* Larger font size for links */
  text-align: center; /* Center align links */
}

nav a:hover {
  color: #ff0; /* Yellow on hover for visibility */
}


/* Adjustments for smaller screens */
@media only screen and (max-width: 600px) {
  main {
      padding: 10px; /* Further reduce padding for smaller screens */
  }

  .container {
      flex-direction: column; /* Stack items vertically for smaller screens */
      align-items: center;
  }

  nav {
      margin-top: 10px; /* Reduce margin for smaller screens */
  }

  nav ul li {
      margin-right: 0; /* Remove margin between nav items */
      margin-bottom: 5px; /* Add margin below nav items */
  }
}
