body {
  font-family: 'Consolas', monospace;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #0f0;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.3; /* Adjust line-height to make sentences closer together */
    margin-bottom: 10px; /* Reduce margin-bottom to make sentences closer together */
  }
  
  p:first-child {
    margin-top: 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  /* Add some hover effects for links */
  a {
    color: #0f0;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ff0;
  }
  