body, html {
  height: 100%;
  margin: 0;
  font-family: 'Tahoma', sans-serif;
  background-color: #fff; /* White background for better readability */
  color: #000; /* Black text color for contrast */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; /* Ensure container takes full width */
  padding: 20px;
  margin-top: -300px; 
  box-sizing: border-box;
}

/* Adjustments for smaller screens */
@media only screen and (max-width: 600px) {
  .container {
    padding: 20px; /* Add padding for smaller screens */
    margin-top: 0; /* Adjust margin for smaller screens */
    flex-direction: column; /* Stack items vertically for smaller screens */
    align-items: center;
  }

  nav {
    margin-top: 10px; /* Reduce margin for smaller screens */
  }

  h1 {
    font-size: 1.5em; /* Adjust heading size for smaller screens */
  }

  p {
    font-size: 1em; /* Adjust paragraph size for smaller screens */
  }
}

